<app-header></app-header>

<ion-content>

  <p class="ion-text-center">
    <ion-icon name="person-circle-outline" style="zoom: 15;"></ion-icon>
  </p>
  <p class="ion-text-center" style="font-size:200%">
    Mi perfil
  </p>
</ion-content>
