<ion-toolbar>
  <ion-buttons slot="end">
    <ion-button (click)="presentPopover($event)">
      <ion-icon name="settings" color="dark" style="zoom: 1.5;"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>