<app-headerback></app-headerback>

<ion-content>

  <p class="ion-text-center">
    <img src="../../../assets/ojo.jpeg" class="ojo">
  </p>

  <ion-row *ngFor="let optic of opticas">
    <ion-col size="12">
      <ion-card [href]="optic.ref">
        <ion-card-header>
          <ion-card-subtitle>{{optic.direccion}} {{optic.CP}}</ion-card-subtitle>
          <ion-card-title>{{optic.nombre}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <img [src]="optic.imagen">
          {{optic.descripcion}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>