<app-header></app-header>

<ion-content>

  <p class="ion-text-center">
    <img src="../../../assets/ojo.jpeg" class="ojo">
  </p>

  <ion-searchbar placeholder="Iniciar búsqueda"></ion-searchbar>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/tabs/tab4">
          <ion-card-header>
            <ion-card-subtitle>Iniciar búsqueda de ópticas</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img src="https://www.vimaxlens.com/v_portal/inc/imagen.asp?f=cabOpticas_8.png&c=0">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/tabs/tab3">
          <ion-card-header>
            <ion-card-subtitle>Iniciar búsqueda de oftalmólogos</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <img src="https://medicostenerife.es/wp-content/uploads/2021/02/oftalmologia.png" style="width: 100%;">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

