<app-headerback></app-headerback>

<ion-content>

  <p class="ion-text-center">
    <img src="../../../assets/ojo.jpeg" class="ojo">
  </p>

  <ion-row *ngFor="let ofta of oftal">
    <ion-col size="12">
      <ion-card [href]="ofta.ref">
        <ion-card-header>
          <ion-card-title>{{ofta.nombre}}</ion-card-title>
          <ion-card-subtitle>{{ofta.especialidad}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p class="ion-text-center">
            <img [src]="ofta.imagen">
          </p>
          <br>
          {{ofta.direccion}}
          <br>
          Costo de consulta: {{ofta.costo}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>