<ion-content>

  <body>
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="user_card">
          <div class="d-flex justify-content-center">
  
            <div>
              <img src="../../../assets/ojo.jpeg" class="ojo">
            </div>
            
            <div class="brand_logo_container mt-4">
              <br>
                <h2>Inicia sesión</h2>
            </div>
          </div>
          <div class="d-flex justify-content-center form_container">
            <form>
                <div class="input-group mb-2">
                <div class="input-group-append">
                <span class="input-group-text"><i  class="fas fa-envelope" name="mail-sharp"></i></span>
                              
                </div>
                <input type="email" email="" class="form-control input_pass" value="" placeholder="Correo electronico">
              </div>
              <div class="input-group mb-2">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" name="" class="form-control input_pass" value="" placeholder="Contraseña">
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customControlInline">
                  <label class="custom-control-label" for="customControlInline">Recordarme</label>
                </div>
              </div>
                <div class="d-flex justify-content-center mt-3 login_container">
                   <button type="button" name="button" class="btn login_btn" routerLink="/bienv">Ingresar</button>
                   </div>
            </form>
          </div>
                  <hr>
                  <button type="button" name="button" class="btn login_btn"  >G Ingresar con Google </button>
                  <br>
                  <button type="button" name="button" class="btn ingresa_btn">F Ingresar con Facebook</button>
  
          <div class="ion-text-center">
            <h5>¿Aún no tienes una cuenta?</h5>
            <h6><a routerLink="/register">Registrate</a></h6>
          </div>
      
        </div>
      </div>
    </div>
  </body>
</ion-content>