<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
                        <h2>Regístrate</h2>
						
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="" class="form-control input_user" value="" placeholder="Usuario">
						</div>
                        <div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i  class="fas fa-envelope" name="mail-sharp"></i></span>
                            
							</div>
							<input type="email" email="" class="form-control input_pass" value="" placeholder="Correo electronico">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
							<input type="password" name="" class="form-control input_pass" value="" placeholder="Contraseña">
						</div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="button" name="button" class="btn login_btn" (click)="alert()">Enviar</button>
				   </div>
					</form>
				</div>
                <hr>
                <br>
                <button type="button" name="button" class="btn login_btn"  >G Registrarse con Google </button>
                <br>
                <button type="button" name="button" class="btn ingresa_btn">F Registrarse con Facebook</button>

				<a class="ion-text-center mt-2" routerLink="/login">
					Ingresar ahora
				</a>
			</div>
		</div>
	</div>
</body>