p.ojo {
    text-align: center;
  }

.busca {
    float: right;
  }
.b {
    text-align: center;
  }

  .boton {
    padding-top: 38%;
    float: right;
    position: relative;
}

.img {
    float: left;    
  }

.container{
    border: 10px;
    min-height:calc(100vh- 100px- 300px);
}

.footer{
    box-orient: 0;
    padding: 0vh;
}

.ojo{
    width: 250px;
    height: 250px;
}

.img{
    width: 60px;
    height: 60px;
}

.img1{
    width: 70px;
    height: 60px;
}

.manos{
    width: auto;
    height: auto;
}

.mona{
    width: auto;
    height: auto;
}

.botonc{
    padding-left: 65%;
    top: 88%;
    display: flex;
    position: fixed;
}