<app-header></app-header>

<ion-content class="ion-padding">

  <p class="ion-text-center">
    <img src="../../../assets/ojo.jpeg" class="ojo">
  </p>

  <ion-grid fixed style="padding-left: 9%;">
    <ion-row>
      <ion-col size="3">
        <img src="../../../assets/ojo1.png" class="img">
      </ion-col>
      <ion-col size="3">
        <img src="../../../assets/lentes.png" class="img">
      </ion-col>
      <ion-col size="3">
        <img src="../../../assets/o.png" class="img">
      </ion-col>
      <ion-col size="3">
        <img src="../../../assets/p.png" class="img1">
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-row class="mt-3">
    <ion-col size="6">
      <h1>¡Bienvenido!</h1>
      <p style="color: gray;">
        En este espacio encontrarás información sobre las ópticas y oftalmólogos más recomendados en el
        estado
      </p>
    </ion-col>
    <ion-col size="6" style="padding-left: 20%;">
      <img src="../../../assets/buscar.png" class="manos">
    </ion-col>
  </ion-row>

  <ion-button fill="outline" color="medium" class="botonc" routerLink="/tabs">Siguiente</ion-button>

  <ion-row>
    <ion-col size="6">
      <img src="../../../assets/momita.png" class="mona">
      </ion-col>
  </ion-row>

  

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" style="height: 40px;">
  </ion-toolbar>
</ion-footer>